/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@200&display=swap');

@-webkit-keyframes hueshift {
  0% { -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg); }
  100% { -webkit-filter: hue-rotate(360deg); filter: hue-rotate(360deg); }
}

@keyframes hueshift {
  0% { -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg); }
  100% { -webkit-filter: hue-rotate(360deg); filter: hue-rotate(360deg); }
}

@-webkit-keyframes logo-fade-in {
  0% {fill-opacity:0% ;stroke-dashoffset: 1000px;}
  50% {fill-opacity: 0%;}
  100% {fill-opacity: 100%;stroke-dashoffset: 3000px;}
}

@keyframes logo-fade-in {
  0% {fill-opacity:0% ;stroke-dashoffset: 1000px;}
  50% {fill-opacity: 0%;}
  100% {fill-opacity: 100%;stroke-dashoffset: 3000px;}
}

@-webkit-keyframes sidebar-enter {
  0% {-webkit-transform: rotate(90deg) translateY(0rem);transform: rotate(90deg) translateY(0rem);}
  50% {-webkit-transform: rotate(90deg) translateY(0rem);transform: rotate(90deg) translateY(0rem);}
  100% {-webkit-transform: rotate(90deg) translateY(-2rem);transform: rotate(90deg) translateY(-2rem);}
}

@keyframes sidebar-enter {
  0% {-webkit-transform: rotate(90deg) translateY(0rem);transform: rotate(90deg) translateY(0rem);}
  50% {-webkit-transform: rotate(90deg) translateY(0rem);transform: rotate(90deg) translateY(0rem);}
  100% {-webkit-transform: rotate(90deg) translateY(-2rem);transform: rotate(90deg) translateY(-2rem);}
}

::-moz-scrollbar-button, ::-webkit-scrollbar-button {
  width: 0;
}

:root {
  font-family:  'Poppins', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  margin: 0%;
  text-align: center;
}

#sidebar {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 1000px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  
  -webkit-transform-origin: 0 0;
  
      -ms-transform-origin: 0 0;
  
          transform-origin: 0 0;
  
  -webkit-transform: rotate(90deg) translateY(-2rem);
  
      -ms-transform: rotate(90deg) translateY(-2rem);
  
          transform: rotate(90deg) translateY(-2rem);
  text-align: left;

  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.397);

  -webkit-animation: sidebar-enter 2s cubic-bezier(0,.35,.21,.99);

          animation: sidebar-enter 2s cubic-bezier(0,.35,.21,.99);
}

#sidebar button {
  background-color: rgba(0,0,0, 0);
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 2px 2px 4px black;
  color: white;

  letter-spacing: 0.2rem;
  left: 50%;
  border: none;
}

#sidebar button:hover {
  -webkit-text-decoration: dashed underline;
          text-decoration: dashed underline;
  cursor:pointer;
}

#sidebar button.active {
  text-decoration: underline;
}

#page-element {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: auto;
}

.home {
  background-color: rgb(28, 17, 88);
  background-image: url("./assets/background-glower-thin.png");
  background-size: cover;
  background-position: center;
  image-rendering: crisp-edges;
  -webkit-animation: hueshift 10s linear infinite;
          animation: hueshift 10s linear infinite;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;     
}

#logo {
  fill: white;
  width: 30rem;
  max-width: 80%;
  
  stroke-width: 5px;
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  stroke: rgb(255, 255, 255);

  -webkit-animation: logo-fade-in 2s linear;

          animation: logo-fade-in 2s linear;
}

#subtext {
  width:30rem;
  max-width: 80%;

  text-shadow: 2px 2px 4px black;
  font-weight: 500;
}

.not-home {
  background: rgb(43,99,138);
  background: -o-linear-gradient(32deg, rgba(43,99,138,1) 0%, rgba(40,0,62,1) 100%);
  background: linear-gradient(58deg, rgba(43,99,138,1) 0%, rgba(40,0,62,1) 100%);
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  overflow: scroll;
  
  text-align: justify;
}

.not-home p, h1 {
  width: 80%;
  text-shadow: 2px 2px 4px black;
}


.gallery {
  background-color: rgb(41, 41, 41);
}

#home {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: rgba(0, 13, 128, 0.288);
}

#section2 {
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: rgba(109, 60, 0, 0.356);
}

.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-left: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;

}

.gallery h1 {
  padding-left: 3rem;
  text-align: left;
  text-shadow: 2px 2px 4px black;
}

.gallery-element img, iframe {
  height: 20rem;
  margin: 0.5rem;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

.gallery-element iframe {
  width: 35.55rem;
}

#music-gallery iframe {
  width: 20rem;
}

.gallery-element p {
  text-align: left;
  margin-top: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-shadow: 2px 2px 4px black;
}

.contact {
  background: rgb(0,0,0);
  background: -o-linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(4,2,113,1) 100%);
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(4,2,113,1) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact h1 {
  margin-left: 2rem;
  margin-right: 2rem;
}

#links {
  width: 80%;
}

.tooltip {
  z-index: 1;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  visibility: hidden;
  margin-left: 2rem;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#links button {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  height: 4rem;
  width: 100%;
  max-width: 20rem;
  border: none;
  -webkit-box-shadow: 2px 2px 4px black;
          box-shadow: 2px 2px 4px black;
  color: white;
  
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.616);
  
  padding: 0.5rem;
  margin: 0.25rem;

  -webkit-transition: all 0.2s ease-out;

  -o-transition: all 0.2s ease-out;

  transition: all 0.2s ease-out;
}

#links button:hover {
  -webkit-filter: brightness(140%);
          filter: brightness(140%);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

#links a:hover .tooltip {
  visibility: visible;
  margin-left: 0.2rem;
  opacity: 1;
}


@media (max-width: 1100px)  {
  .tooltip {
    visibility: hidden !important
  }
}

@media (max-width: 770px) {
  .not-home {
    display: block;
  }
  
  .not-home p, h1 {
    width: calc(100% - 6rem);
    margin-left: 3rem;
  }

  .image-gallery {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .gallery h1 {
    padding-left: 1rem;
    text-align: center;
  }

  .gallery-element img {
    width: 95%;
    height: auto;
  }

  .gallery-element iframe {
    width: 95%;
    min-height: 50vw;
  }

  #music-gallery iframe {
    width: 95%;
    height: 10rem;
  }
  
}